---
import Layout from '../components/Layout.astro';
import badgeImageReference from '../badge.svg';
---

<Layout title="Redirect link test">
	<main>
    <div id="content">
      <div class="header">
        <h1>Link Quick Test</h1>
        <div class="logo">
          <img src="/pin_shoppingbag.png" alt="Pinterest plus shopping bag icon">
        </div>
        <h2>
          This is a quick test site for product destination link redirects.
        </h2>
      </div>
			<div class="resource-list">
        <ul>
          <li>
            <a href="https://business.pinterest.com/en-ca/shopping/">Pinterest Shopping</a>
          </li>
        </ul>
      </div>
      <footer class="footer">
      </footer>
    </div>
	</main>
</Layout>